<mat-radio-group [formControl]="technosFormControl" aria-label="Select an option">
  <mat-radio-button value="Any">Any</mat-radio-button>
  <mat-radio-button style="margin: 2px 4px" *ngFor="let techno of data.Technologies.Technologies" [value]="techno.TechnologyName">{{techno.TechnologyName}}</mat-radio-button>
</mat-radio-group>
<div style="border: 200px ">
  <mat-accordion style="margin: 0 200px">
    <mat-expansion-panel style="margin: 5px 0" hideToggle
                         *ngFor="let companyData of filteredCompanies$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{companyData.CompanyName}}
        </mat-panel-title>
        <mat-panel-description>
          <div style="display: flex; justify-content: flex-start"><span style="margin: 4px"
            *ngFor="let techno of companyData.MainTechnologies">{{techno + "   "}}</span></div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-card style="margin: 5px 0" *ngFor="let job of companyData.Jobs">
          <mat-card-header>
            <mat-card-title>{{job.JobTitle}}</mat-card-title>
            <mat-card-subtitle><span *ngFor="let site of job.Site">{{site.SiteName}}</span></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Main Technos :</p>
            <ul>
              <li *ngFor="let techno of job.MainTechnologies">{{techno}}</li>
            </ul>
            <p>Secondary Technos :</p>
            <ul>
              <li *ngFor="let techno of job.SecondaryTechnologies">{{techno + " "}}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <a *ngFor="let site of job.Site" [href]="site.JobUrl">
              <button mat-button>{{site.SiteName}}</button>
            </a>
          </mat-card-actions>
        </mat-card>
      </ng-template>
    </mat-expansion-panel>
    <div style="height: 5px"></div>
  </mat-accordion>
</div>
