<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Techno</mat-label>-->
<!--    <input [formControl]="formControl" matInput placeholder="Ex. Pizza" value="Sushi">-->
<!--  </mat-form-field>-->
<!--</form>-->
<mat-accordion style="align-content: center; margin-left: 20%; margin-right: 20%">
  <mat-expansion-panel hideToggle *ngFor="let companyData of (companies$ | async).Companies?.Data">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{companyData.Company}}
      </mat-panel-title>
      <mat-panel-description>
        <span *ngFor="let techno of companyData.PrimaryTechnologies">{{techno}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class="example-card" *ngFor="let job of companyData.Jobs">
      <mat-card-header>
        <mat-card-title>{{job.Title}}</mat-card-title>
        <mat-card-subtitle><span *ngFor="let site of job.Site">{{site.SiteName}}</span></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Main Technos :</p>
        <ul>
          <li *ngFor="let techno of job.PrimaryTechnologies">{{techno}}</li>
        </ul>
        <p>Secondary Technos :</p>
        <ul>
          <li *ngFor="let techno of job.SecondaryTechnologies">{{techno}}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a *ngFor="let site of job.Site" [href]="site.JobUrl">
          <button mat-button>{{site.SiteName}}</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<router-outlet></router-outlet>
